[Desktop Entry]
Comment[es_MX]=Tema de Nitrux para Plasma 5
Name[es_MX]=Nomada Oscuro
Name=Nomad Dark
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasma-desktop
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Name=Nomad
X-KDE-PluginInfo-Version=0.1.1
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
comment=Nitrux Nomad Plasma 5 Theme

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=2560x1080
defaultWidth=2560
