[Desktop Entry]
Name=Cambridge
Name[es]=Cambridge


X-KDE-PluginInfo-Name=Cambridge
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
 
