[Desktop Entry]
Name=BASIC Dark
Name[es]=BASIC Oscuro


X-KDE-PluginInfo-Name=BASIC_DARK
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nxos.org
X-KDE-PluginInfo-License=CC BY-SA 4.0
 
