[Desktop Entry]
Name=Landscape
Name[es]=Paisaje


X-KDE-PluginInfo-Name=Landscape
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
