Source: nomad-plasma-look-and-feel
Section: main
Priority: optional
Maintainer: Alexis Lopez Zubieta <azubieta90@gmail.com>
Build-Depends: debhelper (>=9), cmake (>= 3), extra-cmake-modules, libkf5plasma-dev, libkf5windowsystem-dev
Standards-Version: 3.9.6
# Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/nomad-shell/nomad-plasma-look-and-feel.git
Vcs-Browser: https://github.com/nomad-shell/nomad-plasma-look-and-feel

Package: nomad-plasma-look-and-feel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nomad Look and Feel package for Plasma 5.8.4+
 Nomad Look and Feel package for Plasma 5.8.4+
