Source: nx-plasma-look-and-feel
Section: kde
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9), cmake (>= 3), extra-cmake-modules, libkf5plasma-dev, libkf5windowsystem-dev
Standards-Version: 3.9.6
# Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/nx-desktop/nx-plasma-look-and-feel.git
Vcs-Browser: https://github.com/nx-desktop/nx-plasma-look-and-feel

Package: nx-plasma-look-and-feel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: breeze-cursor-theme
Description: NX Look and Feel package for Plasma 5.8.4+
 Plasma look and feel package containing the artwork used in Nitrux.
