[Desktop Entry]
Name=Zpace
Name[es]=Zpace


X-KDE-PluginInfo-Name=Zpace
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nxos.org
X-KDE-PluginInfo-License=CC BY-SA 4.0
 
