[Desktop Entry]
Name=Opal
Name[es_MX]=Opalo
X-KDE-PluginInfo-Name=Opal_NX
X-KDE-PluginInfo-Author=Damian Kidd/Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nxos.org
X-KDE-PluginInfo-License=CC BY-SA 4.0
