[Desktop Entry]
Name=NomadDecoDark

X-KDE-PluginInfo-Author=Uri Herrera 
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-Name=NomadDecoDark
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC BY SA
X-KDE-PluginInfo-EnabledByDefault=true
