[Desktop Entry]
Name=EMP Museum Seattle
Name[es_MX]=Museo EMP Seattle
X-KDE-PluginInfo-Name=EMP_Museum
X-KDE-PluginInfo-Author=Scott Webb
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC 1.0
